*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    color: white;
    height: 100vh;
}

body {
    background-color: black;
}

canvas {
    height: 100vh;
    z-index: 10;
}

.app {
    position:fixed;
    top: 10%;
    left: 5%;
}

#greeting {
    position: fixed;
    
}

.user-form {
    padding-top: 60px;
    
}

#navbar {
    position: fixed;
    width: 90%;
    text-align: center;
    top: 3%;
    left: 5%;
}

#navbar a{
    padding-left: 10px;
}

.trips-list {
    position: fixed;
    top: 30%;
    text-align: center;
}

a {
    color: white;
}

.planet:hover {
    text-shadow: 2px 2px 8px yellow;
}

li {
    padding: 10px;
}

label {
    display: block;
}

#welcome-header {
    padding-bottom: 40px;
}

p {
    padding-bottom: 8px;
}

#new-trip-button {
    margin-top: 15px;
    width: 100px;
}

.planets-list {
    position: fixed;
    top: 25%;
}
.zoomed-planet h1{
    position: fixed;
    left: 10%;
    top: 45%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.767);
    border-radius: 20px;
}

.zoomed-planet p {
    position: fixed;
    padding: 15px;
    top: 30%;
    right: 5%;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.767);
    border-radius: 20px;
}

.hidden {
    opacity: 0;
}

.appear {
    opacity: 1;
    transition: opacity 3s ease;
}