*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    color: white;
    height: 100vh;
}

body {
    background-color: black;
}

canvas {
    height: 100vh;
    z-index: 10;
}

.app {
    position:fixed;
    top: 10%;
    left: 5%;
}

#greeting {
    position: fixed;
    
}

.user-form {
    padding-top: 60px;
    
}

#navbar {
    position: fixed;
    width: 90%;
    text-align: center;
    top: 3%;
    left: 5%;
}

#navbar a{
    padding-left: 10px;
}

.trips-list {
    position: fixed;
    
}

a {
    color: white;
}

.planet:hover {
    text-shadow: 2px 2px 8px yellow;
}

li {
    padding: 10px;
}

label {
    display: block;
}

